.container {
  align-items: center;
  text-align: center;
  height: 100%;
  background-image: url(chat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: center;
}

img {
  height: 50vh;
  width: 100%;
}
